/* Définition des styles pour le composant Contact */
.bob{
    background-color: rgb(255, 255, 255);
    color:aliceblue;
}
/* Styles pour l'identifiant du formulaire */
.forumId {
    height: 7rem; /* Définit la hauteur des conteneurs des champs du formulaire (nom et email) pour assurer une uniformité visuelle */
}
/* Styles pour le message du formulaire */
.forumMessage {
    height: 14rem; /* Définit une hauteur plus grande pour le conteneur du champ de texte du message, permettant d'accueillir un texte plus long */
}
/* Styles pour les appareils de petite taille */
@media (max-width: 374px) {
    /* Ajustement des styles pour la page de contact sur des écrans très étroits */
    .pageContact {
        min-width: 24rem; /* Assure une largeur minimale pour le contenu, évitant ainsi qu'il ne devienne trop compact */
        height: 100rem;
    }
}
.bgcolor{/* la couleur qui recouvre l'element */
    color: gold;
}
.bgcolor li{
    list-style-type: none;
}
.text_color{
    color:black;
}
.line{
    height: 570px;  /* Épaisseur de la ligne */
    border-left: 1px solid rgb(201, 145, 61); /* Bordure très fine */
    margin: 0 10px; /* Optionnel : espace autour de la ligne */
}
.coordonee{
    color:black;
    margin-top: 220px ;
    margin-left: 40px;
    font-size: x-large;
}
.btn_envoyer{
    color: white;
    background-color: black;
    border: 2px solid rgb(122, 122, 122);
    border-radius: 4px;
    padding: 9px;
    transition: transform 0.1s ease;
}
.btn_envoyer:active{
    transform: scale(0.95);
    color: rgb(201, 145, 61);
    border: 2px solid rgb(201, 145, 61);
}
.text_color{
    color: rgb(201, 145, 61);
}