.bob{
    color: white;
  }
.titre{
    color: black;
    opacity: 100%;
    padding: 20px;
    font-size: x-large;
    background-color: rgb(255, 240, 208);
    /*background-image: url('/images/bg_image_un.jpg');
    background-size: cover;
    background-position: center;*/
}
.tritre_n_un {
    text-align: center;
    font-size: 70px;
    display: flex;
    justify-content: center;
    padding-left: 80px;
    color: rgba(209,145,44,255);
  }
  @media (max-width: 670px) {
    /* Ajustement des styles sur des écrans très étroits */
    .tritre_n_un{
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: rgba(209,145,44,255);
    }
  }
.titre_n_deux{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.mini_titre{
    display: flex;
    padding: 20px;
    justify-content: center;
}
.desc{
  text-align: center;
  max-width: 800px;
}
.verset{
  display: flex;
  padding: 20px;
  justify-content: center;
}
.reseaux{
  display: flex;
  justify-content: center;
  color:rgb(255, 253, 253);
  background-color:rgb(255, 255, 255);
  background-image: url('/images/bg_image_un.jpg');
  background-size: cover;
  background-position: center;

}
.reseaux_deux{
  text-align: center;
  max-width: max-content;
  font-size: x-large;
  padding: 40px;
}
.lien{
  display: flex;
  justify-content: center;
  color: black;
  padding: 70px;
  gap: 180px;
}
.sousLien{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.image{
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background: transparent;
  background-image: url('/images/bg_image_un.jpg');
  background-size: cover;
  background-position: center;
}
.rejoindre{
  color: aliceblue;
  text-decoration:underline;
  border: 10px solid black;
  border-radius: 60px;
  background-color: black;
}
.eglise{
    position: relative;
    display: flex;
    color: rgb(255, 255, 255);
    overflow: hidden;
}
.eglise_bg{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('/images/bg_image_un.jpg');
    background-size: cover;
    background-position: center;   
    filter: blur(5px);
    z-index: 0;
}
.eglise_content{
    display: flex;
    position: relative;
    padding: 80px;
    padding-bottom: 40px;
    gap: 130px;
    z-index: 1;
}
.description{
  vertical-align: middle;
  text-align:justify;
  padding-left: 20px;
}
.pasteur{
    font-weight: bolder;
    font-size:40px;
}
.desc_eglise{
    padding-top: 30px;
    font-size:large;
    padding-bottom: 30px;
    font-size:23px;
    max-width: 700px;
}
.img{
    display: none;
}


 