.bob{
    text-align: center;
    color: black;
    background-color: rgb(243, 243, 243);
}

.merci{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 240, 208);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 60px;
    font-size: xx-large;
    font-weight: bold;
    z-index: 2;
    box-shadow:1px 1px 7px rgba(0, 0, 0, 0.3);
}
.verset{
    color: rgb(255, 97, 97);
    padding-top: 60px;
    padding-bottom: 60px;
}
.titre_verset{
    font-size:x-large;
    padding-bottom: 20px;
}
.text{
    font-size: x-large;
    padding-bottom: 20px;
}
.paiements{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 20px;
    background-color: white;
}
.m_paiement{
    color: white;
    display: flex;
    padding: 20px;
    font-size: xx-large;
    gap: 30px;
}
.interac{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(250, 142, 142);
    max-width: 450px;
    max-height: 800px;
    padding-top: 50px;
    padding: 30px;
}
.image{
    padding-left: 12px;
}
.txt{
    color: rgb(250, 0, 0);
}
.batiment{
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-top: 20px;
    padding-bottom: 20px;
}
.mail{
    font-size: x-large;
    font-weight:900;
    margin-top: 30px;
    padding-bottom: 50px;
    text-decoration: underline;
}
.don_materiel{
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(255, 240, 208);
    max-width: 500px;
    min-height: 300px;
    padding-top: 50px;
    padding: 30px;    
}
.don_materiel p {
    padding-top: 30px;
    font-size: x-large;
}
.ligne{
    display: none;
    background-color: rgb(241, 121, 121);
    width: 100%;
    height: 4px;
    margin: 3px 0;
}
@media (max-width:850px) {
    .m_paiement{
        display: block;
        padding: 0px;
        background-color: rgb(250, 142, 142);
        border-radius: 20px;      
    }
    .ligne{
        display: block;
    }
    .interac{
        padding-top: 30px;
        text-align: center;
        max-width: 400px;
    }
    .verset{
        padding: 30px;
    }
    .mail{
        font-size: large;
    }
    .merci{
    color: rgb(0, 0, 0);
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: xx-large;
    font-weight: bold;
    z-index: 2;
    box-shadow:1px 1px 7px rgba(0, 0, 0, 0.3);
}
}
