.bob{
    background-color: rgb(243, 243, 243);
}
.affichage_img{
    padding-top: 150px;
    grid: row;
    background-color: white;
}
.titre{
    color: rgb(0, 0, 0);
}

.dateEven{
    color:rgba(209,145,44,255);
}
.top{
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;    
    padding-top: 150px;
    padding-bottom: 60px;
    font-size: xx-large;
    font-weight: bold;    
    box-shadow:1px 1px 7px rgba(0, 0, 0, 0.3);   
    color: black;
    background-color: rgb(255, 240, 208);
}
.sous_top{
    padding-top: 70px;
    text-align: center;
    font-size: large;
}
.lien{
  display: flex;
  justify-content: center;
  color: rgba(209,145,44,255);
  padding: 50px;
  gap: 180px;
}
.sousLien{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nom_reseaux{
 display: flex;
 justify-content: center;
}
.imgDiv {
  position: relative;
  width: 300px;      /* largeur souhaitée */
  height: 200px;     /* hauteur souhaitée */
  margin: 0 auto;    /* centre l’image horizontalement */
  overflow: hidden;
  border-radius: 10px; /* optionnel */
}

.imgEv {
  object-fit: cover;  /* recadre l’image au lieu de l’étirer */
}
/*tablette*/
@media(max-width : 860px) {
    .affichage_img{
        gap:1px;
    }
}
/*tablette*/
@media (max-width : 1024px) and (min-width : 664px) {
    .affichage_img{
        gap: 1px;
    }
    .imgEv{
        width: 800px;
        height: 800px;
    }
   .lien{
        gap:20px
    }    
    .sousLien p {
        display: none;
    }        
    .divEvent{
        padding-left: 35px;
        display: grid;
        place-items: center;
    }
    .top{
    padding: 20px;  
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;    
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: xx-large;
    font-weight: bold;    
    box-shadow:1px 1px 7px rgba(0, 0, 0, 0.3);   
    color: black;
    background-color: rgb(255, 240, 208);
}
    .sous_top{
        padding: 20px;
    }
}
/*telephone*/
@media (max-width : 663px) and (min-width : 570px) {
    .divEvent{
        padding-left: 60px;
        display: grid;
        place-items: center;
    }
     .imgEv{
        width: 350px;
        height: 550px;
    }   
    .lien{
        gap:10px
    }
    .sousLien p {
        display: none;
    }
    .top{
    padding: 20px;          
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;    
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: xx-large;
    font-weight: bold;    
    box-shadow:1px 1px 7px rgba(0, 0, 0, 0.3);   
    color: black;
    background-color: white;
}
    .sous_top{
        padding: 20px;
    }
}
/*format samsung fold ou flip*/
@media(max-width : 570px) {
    .imgEv{
        width: 350px;
        height: 550px;
    }
    .lien{
        gap:40px
    }    
    .sousLien p {
        display: none;
    }    
    .top{
    padding: 20px;  
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;    
    padding-top: 90px;
    padding-bottom: 20px;
    font-size: xx-large;
    font-weight: bold;    
    box-shadow:1px 1px 7px rgba(0, 0, 0, 0.3);   
    color: black;
    background-color: white;
}
    .sous_top{
    padding: 20px;
    }
}