.bob {
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0.966);
    color: black;
}
.foot {
    display: flex;
    justify-content: center;
    gap: 160px;
}
@media (max-width: 960px){
    .foot {
      text-align: justify;
    }
    .image {
    display: none;
    }
}
.logo {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.auteur {
    display: flex;
    justify-content: center;
    padding: 20px;
    opacity:0.4;
}
.icon {
    text-decoration: underline;
}
