.text_color{
    color: rgb(201, 145, 61);
}
.line_un {
    height: 440px;  /* Épaisseur de la ligne */
    border-left: 1px solid rgb(201, 145, 61); /* Bordure très fine */
    margin: 0 10px; /* Optionnel : espace autour de la ligne */
}
.desc{
    color: black;
    margin-top: 90px;
    padding: 40px;
}
.btn_envoyer{
    color: white;
    background-color: black;
    border: 2px solid rgb(122, 122, 122);
    border-radius: 4px;
    padding: 9px;
    transition: transform 0.1s ease;
}
.btn_envoyer:active{
    transform: scale(0.95);
    color: rgb(201, 145, 61);
    border: 2px solid rgb(201, 145, 61);
}