.bob{
    text-align: center;
    color: black;
    background-color: rgb(243, 243, 243);
}
.titre{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 240, 208);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 60px;
    font-size: xx-large;
    font-weight: bold;
    z-index: 2;
    box-shadow:1px 1px 7px rgba(0, 0, 0, 0.3);
}
.line_un {
    width: 100%;  /* Modifier la longueur en pourcentage ou pixels */
    height: 1.5px;  /* Épaisseur de la ligne */
    background-color: rgba(209,145,44,255); /* Couleur de la ligne */
    border: none; /* Supprime la bordure par défaut */
    margin: 20px auto; /* Centrer la ligne */
    margin-bottom: 90px;
}
.slogan{
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: large;
}
.histoire{
    display: flex;
    padding-bottom: 40px;
    padding: 50px;
    padding-left: 50px;
    background-color: white;
}
.description{
    text-align:justify;
    padding-left: 20px;
}
.pasteur{
    font-weight: bolder;
    font-size:50px;
    padding-top: 90px;
}
.type_eglise{
    font-size:large;
    padding-bottom: 30px;
    width: 500px;
}
.adresse{
    font-size:larger;
}
.eglises{
    font-size: 50px;
}
.eglise_un{
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px; 
  overflow:hidden; 
  color: white;
}
.eglise_un_bg{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;  
  background-image: url('/images/bg_acceuil_1.jpg');
  background-size: cover;
  background-position: center;
  filter:blur(1px);
  z-index: 0;
}
.eglise_un_content{
  position: relative;
  justify-content: center;
  z-index: 1;
}
.eglise_deux{
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px; 
  overflow:hidden; 
  color: white;
}
.eglise_deux_bg{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;  
  background-image: url('/images/bg_acceuil_1.jpg');
  background-size: cover;
  background-position: center;
  filter:blur(1px);
  z-index: 0;
}
.eglise_deux_content{
  position: relative;
  justify-content: center;
  z-index: 1;
}
.eglise_trois{
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px; 
  overflow:hidden; 
  color: white;
}
.eglise_trois_bg{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;  
  background-image: url('/images/bg_acceuil_1.jpg');
  background-size: cover;
  background-position: center;
  filter:blur(1px);
  z-index: 0;
}
.eglise_trois_content{
  position: relative;
  justify-content: center;
  z-index: 1;
}
.titre_eglise{
    padding: 50px;
    font-size: 30px;
    font-weight: bold;
}
@media (max-width: 860px){
    .titre{
        font-size: 85px;
        padding-left: 170px;
    }
    .slogan{
        font-size: 20px;
        padding-left: 170px;
    }
    .line_un{
        width: 200%;
    }
}

.img{
    display: none;
}
@media (max-width: 860px){
    .eglise{
        display: block;
        padding-bottom: 40px;
    }
    .bob{
        padding-left: 0px;
    }
    .description{
        text-align: center;
    }
}
@media (max-width:660px){
    .slogan{
    margin-right: 14px;
    padding-left: 17px;
    }
    .pasteur{
        margin-right: 120px;
    }
    .type_eglise{
        padding-right: 120px;
    }
    .description{
    padding-left: 0px; 
    }
    .titre{
    display: flex;
    justify-content: center;   
    padding-right: 150px;     
    color: rgb(0, 0, 0);
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: xx-large;
    font-weight: bold;
    z-index: 2;
    box-shadow:1px 1px 7px rgba(0, 0, 0, 0.3);
}
}