.bob{
    padding-top: 90px;
    text-align: center;
    color: black;
    padding-left: 200px;
}
.composant{
    padding-top: 50px;
    padding-left: 200px;
}
.line_un {
    width: 100%;  /* Modifier la longueur en pourcentage ou pixels */
    height: 1.5px;  /* Épaisseur de la ligne */
    background-color: rgba(209,145,44,255); /* Couleur de la ligne */
    border: none; /* Supprime la bordure par défaut */
    margin: 20px auto; /* Centrer la ligne */
    margin-bottom: 90px;
}
.slogan_primaire{
    display: flex;
    justify-content: center;
    margin-right: 170px;
}
.slogan_secondaire{
    width: 720px;
    height: max-content;
}
.slogan{
    padding-bottom: 90px;
    font-size: xx-large;
}
.eglise{
    display: flex;
    padding-bottom: 40px;
}
.description{
    text-align:justify;
    padding-left: 20px;
}
.pasteur{
    font-weight: bolder;
    font-size:x-large;
    padding-bottom: 30px;
}
.type_eglise{
    font-size:large;
    padding-bottom: 30px;
}
.adresse{
    font-size:larger;
}
.titre{
    font-size: 90px;
    color: rgb(201, 145, 61); ;
}