.bob{
    color: black;
    text-align: center;
    background-color: rgb(243, 243, 243);
}
.text_primaire{
    font-size:large;
    padding-top: 60px;
    padding-bottom: 60px;
}
.text{
    color:rgb(255, 63, 4);
    text-align: center;
}
.titre{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 240, 208);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 60px;
    font-size: xx-large;
    font-weight: bold;
    z-index: 2;
    box-shadow:1px 1px 7px rgba(0, 0, 0, 0.3);
}
.contenant{
    display: flex;
    gap: 5px;
    background-color: white;
    padding-left: 90px;
    padding-right: 80px;    
}
.type_service{
    display: flex;
}
.boutton {
    display: flex;
    justify-content: center;
    text-align: justify;
    gap: 20px;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.3s ease-in-out; 
}
.boutton:hover{
    color:rgb(201, 145, 61);
    border: 2px solid rgb(201, 145, 61);
}
.logo_top{
    display: block;
    margin-top: 60px;    
}
.logo{
    margin-left: 20px;
    border-radius: 30px; 
}
.description{
    padding-top: 28px;
    text-align: justify;
    padding-bottom: 16px;
}
.mini_titre{
    color:rgb(201, 145, 61);
    font-weight: bold;
    font-size: x-large;
}
@media (max-width: 760px){
    .logo_top{
        display: none;
    }
}
@media (max-width: 650px){
    .contenant{
        display: block;
    }
    .mini_titre{
        text-align: center;
    }
    .description{
        text-align: center;
    }
    .titre{
    color: rgb(0, 0, 0);
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: xx-large;
    font-weight: bold;
    z-index: 2;
    box-shadow:1px 1px 7px rgba(0, 0, 0, 0.3);
}
}