.bob{
    color: black;
    text-align: center;
    padding-top: 90px;
}
.text_primaire{
   font-size: x-large;
}
.text{
    color:rgb(255, 63, 4);
    text-align: center;
}
.titre{
    padding-top: 10px;
    color: rgba(209,145,44,255);
    font-size: xx-large;
    padding-bottom: 40px;
}
.contenant{
    display: block;
    gap: 5px;
}
.type_service{
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 40px;
}
.lien {
    display: flex;
    justify-content: center;
    text-align: justify;
    gap: 20px;
    border: 2px solid black;
    transition: 0.3s ease-in-out; 
}
.lien:hover{
    color:rgb(255, 63, 4);
    border: 2px solid rgb(255, 63, 4);
}
.titre_desc{
    text-align: justify;
    margin-left: 20px;
    font-size: x-large;
}
.description{
    padding-top: 28px;
    text-align: justify;
    padding-bottom: 16px;
}