.bob{
    color: black;
    text-align: center;
    padding-top: 90px;
}
.text_primaire{
   font-size:large;
}
.text{
    color:rgb(255, 63, 4);
    text-align: center;
}
.titre{
    padding-top: 10px;
    color: rgba(209,145,44,255);
    font-size: 60px;
}
.line_un {
    width: 80%;  /* Modifier la longueur en pourcentage ou pixels */
    height: 1.5px;  /* Épaisseur de la ligne */
    background-color: rgba(209,145,44,255); /* Couleur de la ligne */
    border: none; /* Supprime la bordure par défaut */
    margin: 20px auto; /* Centrer la ligne */
    margin-bottom: 90px;
}
.contenant{
    display: grid;
    place-items: center;
    gap: 5px;
}
.type_service{
    display: flex;
    padding: 40px;
}
.lien {
    display: flex;
    justify-content: center;
    text-align: justify;
    gap: 20px;
    border: 2px solid black;
    transition: 0.3s ease-in-out; 
}
.lien:hover{
    color:rgb(201, 145, 61);
    border: 2px solid rgb(201, 145, 61);
}
.titre_desc_top{
    display: block;
}
.titre_desc{
    margin-left: 20px;
    border-radius: 30px; 
}
.description{
    padding-top: 28px;
    text-align: justify;
    padding-bottom: 16px;
}
.mini_titre{
    color:rgb(201, 145, 61);
    font-weight: bold;
    font-size: x-large;
}
@media (max-width: 760px){
    .titre_desc_top{
        display: none;
    }
}